* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

:root {
  --fg-color: rgb(236, 231, 193);
  --bg-color: rgb(26, 26, 24);
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--fg-color) transparent;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
}

#hero {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom, black, var(--bg-color));
  animation: fadeIn 1s ease-in-out;
}

#hero > h1 {
  color: var(--fg-color);
  /* font-family: UnifrakturMaguntia; */
  font-size: 5rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#hero > p {
  color: var(--fg-color);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

#hero > button {
  border: none;
  background-color: inherit;
  color: rgb(236, 231, 193);
  animation: fadeIn 1s ease-in-out;
  position: absolute;
  bottom: 20px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: font-size 0.2s;
}

#hero > button:hover {
  font-size: 1.2rem;
  transition: font-size 0.2s;
}

#projects {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: UnifrakturMaguntia;
  font-size: 2rem;
  color: var(--fg-color);
  background: linear-gradient(to top, black 5%, var(--bg-color));
}

#projects > a {
  text-decoration: none;
  display: flex;
  margin-top: 50px;
  transition: transform 0.2s;
}

#projects > a:hover {
  transform: translateY(-15px);
  transition: all 0.2s;
}

.project-card {
  font-family: Inter, Arial, Helvetica, sans-serif;
  border: solid 3px var(--fg-color);
  border-radius: 25px;
  width: 75vw;
  padding: 20px;
  color: var(--fg-color);

  background: radial-gradient(black, var(--bg-color));
  transition: transform 0.1s;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.project-card > img {
  object-fit: cover;
  max-width: 80%;
  aspect-ratio: calc(400 / 350);
  border-radius: 15px;
  grid-row: span 2;
  margin: auto;
}

.project-card > h3 {
  text-align: center;
  margin-bottom: 10px;
}

.project-card > p {
  font-size: 1.75rem;
}

@media (max-width: 768px) {
  #hero > p {
    font-size: 1.25rem;
  }

  .project-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
  }

  .project-card > h3 {
    order: 0;
    font-size: 2rem;
  }

  .project-card > img {
    order: 1;
    grid-column: span 2;
  }

  .project-card > p {
    order: 2;
  }
}
